.button {
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #357abd;
}

.button:active {
  background-color: #2a6099;
}
